<p><img src="https://files.cdn.thinkific.com/file_uploads/133292/images/a9e/c1a/bc3/P02.jpg"></p>

`MCSDSC02P01V3______`

`MCSDSC02P01V2______`

`MCSDSELIMC02P01V1010621`

<h3><font color="#FF0F00">Комментарий ассистента</font></h3>

Неплохо, учитывая, что ты выполнял проект совсем без подсказок! Критических замечаний не так много, но есть доработки.

Как обычно, заголовки (комментариев) будут трех цветов. <font color="89DD00">Зеленый</font> — все правильно (и если комментария нет, то это также значит, что все правильно). <font color="FFB800">Желтый</font> — можно доработать. <font color="FF0F00">Красный</font> — нужно исправить.

Постарайся учесть эти комментарии в ходе доработки проекта и не удаляй их.

## Постановка задачи

Необходимо изучить данные сервиса "Без очереди", которое помогает сделать заказ до прихода в кафе, чтобы не ждать официанта, приготовление еды и счет. Это приложение было протестировано на территории дизайн-завода Флакон и Хлебозавода №9. В задачу также входитответить на вопросы, поставленные менеджером проекта:
- На какие кафе приходится больше всего заказов? А на какие дни?
- Чаще ли приложением пользуются именно в обеденное время?
- Насколько большими компаниями  (или наоборот поодиночке) приходят в кафе?

<h3><font color="#89DD00">Комментарий ассистента 2</font></h3>

Ок.

<h3><font color="#FFB800">Комментарий ассистента</font></h3>

Для третьего читателя не очень понятно о каком именно сервисе идет речь и какие вопросы поставил менеджер.

## Импорт данных и библиотек

Прочитаем файл `bez_ocheredi.csv` и сохраним его в переменную `bo_data`.

In [1]:
import pandas as pd

In [2]:
bo_data = pd.read_csv('bez_ocheredi.csv')

<h3><font color="#89DD00">Комментарий ассистента 2</font></h3>

Ок.

<h3><font color="#FFB800">Комментарий ассистента</font></h3>

Рекомендуем загружать все модули в отдельной ячейке. Лучше разбить эти 2 команды и не грузить все в одну ячейку.

Получим первые 10 строк таблицы.

In [3]:
bo_data.head(10)

        userID    ресторан     weekday  ordered    Столик для
0  b912c3c6a6ad   Iskra Bar     Monday     10:00             1
1  2dac0150717d   Iskra Bar     Monday     13:30             2
2  ba83aefab5dc   Iskra Bar    Tuesday     12:30             3
3  02996f1dd2ea   Iskra Bar  Wednesday     12:00             2
4  7c90be56d2ab   Iskra Bar   Thursday     14:30             3
5  51e0962387f7      Там Ем     Friday     12:30             2
6  c4f260a2b48a         NaN   Saturday     15:00             6
7  6b71309d6a8a  Крафтейнер     Monday     10:30             1
8  c5b969cb63a2  Бар Сибирь  Wednesday     15:30             2
9  b1570962e68c  Бар Сибирь  Wednesday     12:30             3

Получим общую информацию о данных из таблицы.

In [4]:
bo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userID        1024 non-null   object
 1    ресторан     959 non-null    object
 2    weekday      1024 non-null   object
 3    ordered      1024 non-null   object
 4    Столик для   1024 non-null   int64
dtypes: int64(1), object(4)
memory usage: 40.1+ KB

Столбцы в `bo_data` содержат следующую информацию:

* имена пользователей
* название ресторанов
* дни недели
* когда заказан столик
* для скольких людей заказан столик

### Выводы

* похоже, что в столбце "ресторан" есть NaN values. На это указывает показатель Non-Null Count
* кроме того, названия столбцов написаны на разных языках и разного регистра, с пробелами и без

<h3><font color="#89DD00">Комментарий ассистента</font></h3>

Да, в выводах нужно указать на структуру данных, а также наличие пропусков.

## Предобработка данных

Получим названия столбцов.

In [5]:
bo_data.columns

Index(['userID ', ' ресторан ', ' weekday', ' ordered ', ' Столик для '], dtype='object')

Обращаем внимание, что помимо названий на разном языке, в них есть пробелы, которые затрудняют доступ к данным. Переименуем столбцы и проверим результат.

In [6]:
columns = ['user_id', 'restaurant', 'weekday', 'ordered_time', 'num_of_guests']
bo_data.set_axis(columns, axis = 'columns', inplace = True)
bo_data.columns

Index(['user_id', 'restaurant', 'weekday', 'ordered_time', 'num_of_guests'], dtype='object')

<h3><font color="#89DD00">Комментарий ассистента 2</font></h3>

Отлично.

<h3><font color="#FF0F00">Комментарий ассистента</font></h3>

Не надо переименовывать столбцы через атрибут columns, потому что так ты неявно учитываешь порядок столбцов. Если порядок поменяется, то код не будет работать. 

Все столбцы можно переименовать с помощью метода `set_axis()`. Передавай ему список с названиями столбцов, `axis='columns'`, `inplace = True` (последний аргумент — меняет структуру данных, а не создает копию). Также можно использовать метод `rename()`, но опять же указывай `inplace = True`.

Еще момент: ordered стоит назвать очевиднее: например, ordered_time.

Еще раз проверим данные на наличие пропусков, просуммировав их.

In [7]:
bo_data.isna().sum()

user_id           0
restaurant       65
weekday           0
ordered_time      0
num_of_guests     0
dtype: int64

Менеджер проекта предупреждал, что некоторые заказы заводились на тестовую карточку кафе без названия, поэтому есть смысл заполнить такой пропуск словом admin.

In [8]:
bo_data['restaurant'].fillna('admin', inplace=True)

Проверяем, что пропусков не осталось.

In [9]:
bo_data.isna().sum()

user_id          0
restaurant       0
weekday          0
ordered_time     0
num_of_guests    0
dtype: int64

Установим количество явных дубликатов. Если найдутся, то удалим и снова проверим, что их не осталось.

In [10]:
#bo_data[bo_data['user_id'].duplicated() == True]
bo_data.duplicated().sum()

24

<h3><font color="#89DD00">Комментарий ассистента 2</font></h3>

Ок.

<h3><font color="#FF0F00">Комментарий ассистента</font></h3>

Лучше использовать цепочку методов `duplicated().sum()`, вывод компактнее.

In [11]:
#bo_data = bo_data.drop(bo_data.index[(bo_data['user_id'].duplicated() == True)], axis=0)
bo_data = bo_data.drop_duplicates().reset_index(drop=True)

In [12]:
bo_data.duplicated().sum()

0

<h3><font color="#89DD00">Комментарий ассистента 2</font></h3>

Все так.

<h3><font color="#FF0F00">Комментарий ассистента</font></h3>

Сложновато. Ты можешь удалить дубликаты и перенумеровать строки с помощью цепочки `df.drop_duplicates().reset_index(drop = True)`. Во второй методе обязательно указывай `drop = True`, иначе будет дырка в нумерации строк (20, 21, 26...)

Посчитать количество дубликатов можно с помощью `bo_data.duplicated().sum()`.

Скорее всего, такие полные дубликаты говорят о сбое при выгрузке данных. Необходимо сообщить об этом.

Еще одна проблема, о которой предупреждал менеджер проекта — дубликаты карточки Iskra Bar с неправильными названием бара - "Искра" и "Искр". На них заводились реальные заказы, поэтому необходимо вычислить их и переименовать на правильное название — Iskra Bar.

Объявим функцию `replace_restaurant()`, которая заменяет неправильное название, а потом проверяет успешность выполнения замены подсчетом (если замена прошла успешно — результат подсчета должен быть 0).

In [13]:
'''def replace_restaurant(df, name1, name2):
    for i in range(len(df)):
        if df['restaurant'].iloc[i] == name1 or df['restaurant'].iloc[i] == name2:
            df['restaurant'].iloc[i] = df['restaurant'].iloc[i].replace(df['restaurant'].iloc[i], 'Iskra Bar')'''

def replace_restaurant(df, wrong_name, correct_name):
    df = df.replace(wrong_name, correct_name)
    return df['restaurant'][(df['restaurant'] == wrong_name)].count()

Передаем функции названия 'Искра' и 'Искр'.

In [14]:
replace_restaurant(bo_data, 'Искра', 'Iskra Bar')

0

In [15]:
replace_restaurant(bo_data, 'Искр', 'Iskra Bar')

0

<h3><font color="#89DD00">Комментарий ассистента 2</font></h3>

Красота

<h3><font color="#FF0F00">Комментарий ассистента</font></h3>

Здесь тоже стоит упрощать. В первой строке функции можно использовать метод `replace()`, который заменит на нужное значение: `df.replace('first_value', 'second_value')`. Первый аргумент — текущее название, второй аргумент — новое значение.

А во второй строке "проверяй" как этот метод отработал и считай неправильные названия с помощью метода `count()`.

### Выводы

* в данных были дупликаты от которых мы избавились
* кроме того, мы избавились от Nan values
* переименовали названия столбцов, чтобы сделать их одинаковыми
* названия одних и тех же заведений мы тоже унифицировали

<h3><font color="#FFB800">Комментарий ассистента</font></h3>

Все так, но доработай реализацию.

## Распределение заказов в течение недели

Считаем, на какие кафе приходится больше всего заказов.

In [16]:
bo_data['weekday'].groupby(bo_data['restaurant']).count().sort_values()

restaurant
Искра           6
Искр           12
admin          41
Азия           62
Коворкафе      66
Крафтейнер     78
Северия       107
Бар Сибирь    159
Там Ем        200
Iskra Bar     269
Name: weekday, dtype: int64

Группируем по `weekday` и считаем, на какие дни приходится больше всего заказов.

In [17]:
bo_data['restaurant'].groupby(bo_data['weekday']).count().sort_values()

weekday
Sunday        24
Saturday      52
Friday       110
Monday       141
Thursday     180
Wednesday    242
Tuesday      251
Name: restaurant, dtype: int64

<h3><font color="#89DD00">Комментарий ассистента</font></h3>

Круто, что используешь группировку, но на самом деле здесь в обоих случаях можно применить метод `value_counts()` — он тебе еще и отсортирует по убыванию результат. Возможно, поправим здесь описание шага.

Если все же захочешь `groupby()` оставить, то добавляй тогда и `sort_values()` для сортировки.

Объявляем функцию, которая возвращает количество заказов для ресторана в определенный день.

In [18]:
'''def weekday_rest(weekday, rest):
    df = bo_data['restaurant'][(bo_data['restaurant'] == rest)].groupby(bo_data['weekday'] == weekday).count()
    return df[True]

print(weekday_rest( 'Monday', 'Iskra Bar'))
print(weekday_rest('Wednesday', 'Iskra Bar'))
print(weekday_rest('Friday', 'Iskra Bar'))

print(weekday_rest( 'Monday', 'Там Ем'))
print(weekday_rest('Wednesday', 'Там Ем'))
print(weekday_rest( 'Friday', 'Там Ем'))'''

"def weekday_rest(weekday, rest):\n    df = bo_data['restaurant'][(bo_data['restaurant'] == rest)].groupby(bo_data['weekday'] == weekday).count()\n    return df[True]\n\nprint(weekday_rest( 'Monday', 'Iskra Bar'))\nprint(weekday_rest('Wednesday', 'Iskra Bar'))\nprint(weekday_rest('Friday', 'Iskra Bar'))\n\nprint(weekday_rest( 'Monday', 'Там Ем'))\nprint(weekday_rest('Wednesday', 'Там Ем'))\nprint(weekday_rest( 'Friday', 'Там Ем'))"

In [19]:
def weekday_rest(df, weekday, rest):
    restaurants_list = df[(df['weekday'] == weekday) & (df['restaurant'] == rest)]
    restaurant_list_count = restaurants_list['restaurant'].count()
    return restaurant_list_count

print(weekday_rest(bo_data, 'Monday', 'Iskra Bar'))
print(weekday_rest(bo_data, 'Wednesday', 'Iskra Bar'))
print(weekday_rest(bo_data, 'Friday', 'Iskra Bar'))

print(weekday_rest(bo_data, 'Monday', 'Там Ем'))
print(weekday_rest(bo_data, 'Wednesday', 'Там Ем'))
print(weekday_rest(bo_data, 'Friday', 'Там Ем'))

46
51
26
25
52
24

<h3><font color="#89DD00">Комментарий ассистента 2</font></h3>

Отлично

<h3><font color="#FF0F00">Комментарий ассистента</font></h3>

Реализация у функции `weekday_rest` очень простая. Ты можешь использовать логическое условие: `restaurants_list = df[(df['weekday'] == day) & (df['restaurant'] == restaurant)]`. Внутри квадратных скобок указываем 2 условия, которые записываются в круглых, а между ними специальный оператор `&`, который работает как `and` в питоне. Второй строкой считаем кол-во ресторанов: `restaurants_list_count = restaurants_list['restaurant'].count()`.

Либо ты можешь сразу же в одной строке (после `return`) возвращать логическое условие с прицепленным методом `count()`

И используй 3 аргумента — данные, ресторан и день недели, чтобы эту функцию можно было переиспользовать. Сейчас она у тебя конкретно для `bo_data`.

Передадим ей заведения Iskra Bar и Там Ем — два флагманских места, по которым просили результаты прежде всего — и понедельник, среду и пятницу в качестве дня недели.

Сведем результат в таблицу.

In [20]:
'''iskra_tam = pd.DataFrame(index = ['Iskra Bar', 'Там Ем'], columns = ['Monday', 'Wednesday', 'Friday'])
iskra_tam['Monday'].iloc[0] = weekday_rest(bo_data, 'Monday', 'Iskra Bar')
iskra_tam['Monday'].iloc[1] = weekday_rest(bo_data, 'Monday', 'Там Ем')
iskra_tam['Wednesday'].iloc[0] = weekday_rest(bo_data, 'Wednesday', 'Iskra Bar')
iskra_tam['Wednesday'].iloc[1] = weekday_rest(bo_data, 'Wednesday', 'Там Ем')
iskra_tam['Friday'].iloc[0] = weekday_rest(bo_data, 'Friday', 'Iskra Bar')
iskra_tam['Friday'].iloc[1] = weekday_rest(bo_data, 'Friday', 'Там Ем')'''

In [42]:
days = ['Monday', 'Wednesday', 'Friday']
places = ['Iskra Bar', 'Там Ем']
iskra_tam = pd.DataFrame(index = ['Iskra Bar', 'Там Ем'], columns = ['Monday', 'Wednesday', 'Friday'])

def rest_place():
    for i in range(len(days)):
        if i == 0:
            iskra_tam[days[i]].iloc[i] = weekday_rest(bo_data, days[i], places[i])
            iskra_tam[days[i]].iloc[i+1] = weekday_rest(bo_data, days[i], places[i+1])
        elif i == 1:
            iskra_tam[days[i]].iloc[i-1] = weekday_rest(bo_data, days[i], places[i-1])
            iskra_tam[days[i]].iloc[i] = weekday_rest(bo_data, days[i], places[i])
        else:
            iskra_tam[days[i]].iloc[i-2] = weekday_rest(bo_data, days[i], places[i-2])
            iskra_tam[days[i]].iloc[i-1] = weekday_rest(bo_data, days[i], places[i-1])
            
rest_place()

In [43]:
iskra_tam

          Monday Wednesday Friday
Iskra Bar     46        51     26
Там Ем        25        52     24

<h3><font color="#89DD00">Комментарий ассистента 2</font></h3>

Хорошо, что оптимизируешь код и используешь функцию и цикл!

<h3><font color="#FFB800">Комментарий ассистента</font></h3>

Результат правильный, только сделай функцию с использованием логического условия. Мне важно понять, что ты освоил этот прием.

### Выводы

* судя по всему, среда наиболее загруженный день в обоих местах
* в целом Iskra Bar загружена больше, чем Там Ем
* больше всего заказов приходится на Iskra Bar
* самый загруженный день среди всех ресторанов вторник

## Распределение заказов в течение дня

Сравним количества заказов, сделанных в обеденное и вечернее время — с 12 до 16 и с 16 до 22. Для этого объявим функцию, которая принимает данные и 2 аргумента времени.

In [23]:
def time(df, von, bis):
    return df['restaurant'][(df['ordered_time'] >= von) & (df['ordered_time'] < bis)].count()

In [24]:
time(bo_data, '12:00', '16:00') #543

543

Передадим промежуток с 12:00 и 16:00

In [25]:
#вручную посчитал на всякий
bo_data['restaurant'].groupby(bo_data['ordered_time']).count()[4:12].sum()

543

<h3><font color="#89DD00">Комментарий ассистента 2</font></h3>

Найс

<h3><font color="#FF0F00">Комментарий ассистента</font></h3>

А зачем? Ты хорошую функцию написал, ее и проверяй. Единственное, заказ, сделанный в 16:00 — уже к вечернему времени относится, его нельзя учитывать. С 12 до 16 у тебя должно 543 заказа получится.

И с 16:00 до 22:00

In [26]:
time(bo_data, '16:00', '22:00') #338

338

### Выводы

* с 12:00 до 16:00 заказов больше, чем с 16:00 до 22:00

<h3><font color="#89DD00">Комментарий ассистента</font></h3>

В обеденное время бронируется больше столиков, все верно. Это от нас и просили узнать.

## Типичное количество человек за столиком

Выясним, для какого количества человек обычно заказывают столик в разное время на примере Iskra Bar и Там Ем. Для этого напишем функцию, которая принимает данные, название ресторана, 2 времени и считает моду.

In [27]:
def time_guests(df, place, von, bis):
    return df[(df['restaurant'] == place) & ((df['ordered_time'] >= von) & (df['ordered_time'] <= bis))]['num_of_guests'].mode()

Проверим функцию на двух ресторанах, а также дневном и вечернем промежутке времени.

In [28]:
time_guests(bo_data, 'Iskra Bar', '20:00', '23:00')

0    1
dtype: int64

In [29]:
time_guests(bo_data, 'Iskra Bar', '10:00', '16:00')

0    2
dtype: int64

In [30]:
time_guests(bo_data, 'Там Ем', '20:00', '23:00')

0    2
dtype: int64

In [31]:
time_guests(bo_data, 'Там Ем', '10:00', '16:00')

0    2
dtype: int64

<h3><font color="#89DD00">Комментарий ассистента 2</font></h3>

Супер. Видим, что вне зависимости от времени пользователи используют приложение для 1-2 человек.

<h3><font color="#FF0F00">Комментарий ассистента</font></h3>

1.64705 человека не делает смысла. В описании шага написано, что используем `mode()`, а ты в итоге `mean()` берешь. Тут бы я поправил.

---- Это был один из тех моментов, которые я не понял до конца ----

### Выводы

* вечером рестораны загружены меньше, чем в первой половине дня
* Там Ем утром загружен больше чем Iskra Bar
* меньше всего людей в среднем в Iskra Bar вечером

## Общие выводы

На какие кафе приходится больше всего заказов? А на какие дни?
* больше всего заказов приходится на кафе Там Ем и Iskra Bar
* чаще всего люди заказывают там еду во вторник, среду и четверг

Чаще ли приложением пользуются именно в обеденное время?
* Да

Насколько большими компаниями  (или наоборот поодиночке) приходят в кафе?
* В целом люди приходят либо небольшими компаниями (2-3 человека), либо чаще всего по одиночке

<h3><font color="#89DD00">Комментарий ассистента</font></h3>

Ты ответил на все вопросы правильно, отлично. Осталось доработать код в некоторых местах.